body {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  line-height: 1.6;
  background-color: #f4f7fc;
  color: #333;
   
}

h1, h2 {
  color: #2563eb;
}
h1 {
  font-size: 40px;
}

section {
  border: none;
  padding: 17px;
  margin-bottom: 17px;
  background-color: white;
  border-radius:10px;
   box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 34px;
  }
}
input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

#result {
    font-weight: bold;
    margin-top: 10px;
}
a {
  color: #2563eb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #1d4ed8;
}
