body {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  line-height: 1.6;
}

h1, h2 {
  color: blue;
}

section {
  border: 1px solid #ddd;
  padding: 17px;
  margin-bottom: 17px;
  background-color:green;
  border-radius:10px;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 34px;
  }
}
input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

#result {
    font-weight: bold;
    margin-top: 10px;
}
